
.jerome{
    text-align: center;
}
.create-form{
    text-align: center;
}
.form-group{
    display: inline-block;
}
.hot-p{
    text-align: left;
}
.done-p{
    text-align: right;
}
.h3-l{
    text-align: left;
}
.h3-r{
    text-align: right;
}
.done{
    display: inline-block;
}
.hot{
    display: inline-block;
}